.header-wrapper{
    background: $dark;
    height: 70px;
    left: 0;
    right: 0;
    top: 0;
    .navbar-brand{
        text-decoration: none;
        font-family: 'Caveat', cursive;
        font-size: 20px;
        display: flex;
        align-items: center;
        padding: 0px;
        color: $yellow;
        span{
            color: $light;
            font-family: 'WindSong', cursive;
            font-size: 35px;
            margin-left: 10px;
            font-weight: bold;
        }
    }
    .navbar-nav{
        .nav-item{
            & + .nav-item{
                margin-left: 50px;
            }
            .nav-link{
                padding: 0px;
                color: $light;
                font-family: 'Alegreya Sans', sans-serif;
                font-size: 18px;
                text-decoration: none;
            }
        }
    }
}