.carousel {
    .carousel-inner{
        position: relative;
        .carousel-caption{
            position: absolute;
            z-index: 9;
            padding: 0px;
            top: 50%;
            margin-top: -55px;
            h1{
                color: white;
                font-size: 50px;
                padding: 20px 40px;
                font-family: 'Alegreya Sans', sans-serif;
                border: 5px solid white;
                text-transform: uppercase;
                letter-spacing: 30px;
                margin-bottom: 0px;
            }
        }
    }
    .carousel-indicators{
        z-index: 999;
        button{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            padding: 0px;
            margin: 0px;
            border: none;
            & + button{
                margin-left: 10px
            }
        }
    }
    .carousel-item{
        width: 100%;
        height: 700px;
    } 
} 
h2{
    font-size: 40px;
    margin-bottom: 25px;
    color: $dark;
    font-family: 'Alegreya Sans', sans-serif;
}
h3{
    font-size: 30px;
    margin-bottom: 18px;
    color: $dark;
    font-family: 'Alegreya Sans', sans-serif;
}
p{
    font-size: 15px;
    font-family: 'Alegreya Sans', sans-serif;
}
.main-btn{
    border: 1px solid $dark;
    border-radius: 10px;
    padding: 7px 30px;
    font-size: 16px;
    color: $dark;
    font-family: 'Alegreya Sans', sans-serif;
    outline: none;
    text-decoration: none;
    box-shadow: none;
    background: white;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in;
    &:hover,
    &:focus,
    &:active{
        background: $dark;
        color: white;
        transition: all 0.4s ease-in;
    }
}
.shadow-card{
    padding: 40px 30px;
    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 20px #cccccc67;
    text-align: center;
    height: 100%;
    border-radius: 5px;
    .title{
        padding-top: 20px;
        font-size: 21px;
        font-family: 'Alegreya Sans', sans-serif;
        text-align: center;
        letter-spacing: 3px;
        margin-bottom: 15px
    }
    .text{
        font-size: 16px;
        font-family: 'Alegreya Sans', sans-serif;
    }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    .image {
      width: 200px;
      height: 200px;
      margin: 10px;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 1px 1px 20px #cccccc67;
    }

    .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .image:hover img {
      transform: scale(1.2);
      cursor: pointer;
      filter: brightness(80%);
      z-index: 1;
    }
    &.filterable{
        .image{
            display: none;
            &.show{
                display: block;
            }
        }
    }
}
.loading {
  background-image: url('http://jquery.eisbehr.de/lazy/images/loading.gif');
  background-position: center;
  background-repeat: no-repeat;
}
.img-modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;    
    .modal-img {
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 100vh;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 30px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
    }
}
.slick-slide {
  margin: 0 20px;
}
ul.slick-dots{
    margin: 20px auto 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
        list-style: none;
        width: 15px;
        height: 15px;
        background: #00000075;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.4s ease-in;
        &.slick-active{
            background: #000;
            transition: all 0.4s ease-in;
        }
        & + li{
            margin-left: 10px;
        }
        button{
            display: none;
        }
    }
}
.travel-card{
    height: 300px;
    text-decoration: none;
    color: $light;
    font-family: 'Alegreya Sans', sans-serif;
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #cccccc67;
    &:hover,
    &:active,
    &:focus{
        color: $light;
        transition: all 1.4s ease-in;
        .travel-card-inner-sec{
            transition: all 1.4s ease-in;
            .content{
                transition: all 1.4s ease-in;
                height: auto;
            }
        }
    }
    .travel-card-inner-sec{
        transition: all 1.4s ease-in;
        position: absolute;
        padding: 15px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .title{
            font-size: 30px;
            line-height: 35px;
            text-align: center;
            margin-bottom: 15px;
        }
        .content{
            height: 0px;
            overflow: hidden;
            font-size: 20px;
            line-height: 25px;
            transition: all 1.4s ease-in;
            text-align: center;
            span{
                display: block;
                margin-top: 10px;
               font-size: 15px; 
               line-height: 15px;
            }
        }
    }
}
.contact-form{
    input,textarea{
        border: 1px solid $dark;
        font-size: 15px;
        font-family: 'Alegreya Sans', sans-serif;
        &:active,
        &:focus{
            box-shadow: 0 0 0 0.1rem rgba(0,49,72,.25);
        }
    }
}
.tour-single-mods{
    .top-banner-sec{
        height: 350px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.gallery-filter{
    button{
        background: transparent;
        border: none;
        font-size: 20px;
        font-family: 'Alegreya Sans', sans-serif;
        opacity: 0.5;
        color: $dark;
        text-decoration: none;
        transition: all 0.5s ease-in;
        padding: 10px 5px;
        &.active,
        &:active,
        &:focus,
        &:hover{
            opacity: 1;
            transition: all 0.5s ease-in;
        }
        & + button{
            margin-left: 30px;
        }
    }
}